@media (min-width: 847px) {
  .seccion-footer {
    display: grid;
    background-color: $Principal-azul;
    font-family: "give-away";
    padding: 20px;

    width: 100%;
    .link {
      a {
        text-decoration: none;
        width: min-content;
        cursor: auto;
        p {
          color: white;
          margin: 0;
          width: fit-content;
          cursor: pointer;
          font-size: 12px;
        }
      }
      :hover {
        color: $Secundario-naranja;
      }
    }
  }
}

@media (max-width: 846px) {
  .seccion-footer {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: $Principal-azul;
    font-family: "give-away";
    padding: 20px;
    width: 100%;
    .link {
      a {
        text-decoration: none;
        width: min-content;
        cursor: auto;
        p {
          color: white;
          margin: 0;
          width: fit-content;
          font-size: 12px;
        }
      }
    }
  }
}
