@font-face {
  font-family: "give-away";
  src: url("./assets/tipografias/GIVE_AWAY.OTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "abygaer";
  src: url("./assets/tipografias/Abygaer_Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
